@import url(./programSite.css);

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1700px;
}
header {
  margin: 2rem 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
i {
  font-size: 1.5rem;
}
.headline {
  cursor: pointer;
}

.headline-container,
.hamburger {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburger a {
  text-decoration: none;
  color: black;
}

.channels-container {
  width: 90%;
  margin: 4rem auto;
  overflow: scroll;
  position: relative;
}

.channel-container {
  height: 5rem;
  width: 200%;
  display: flex;
  flex-direction: row;
}

.program-container {
  border: 0.5px solid gray;
  cursor: pointer;
}

.channels-container::-webkit-scrollbar {
  display: none;
}

.channel-image {
  min-width: 10rem;
  height: auto;
  margin-right: 2rem;
  position: sticky;
  top: 0;
  left: 0;
}

.program-start-time {
  color: gray;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.program-headline {
  margin-left: 0.5rem;
}

.real-time-line {
  width: 2px;
  height: calc(100% - 3rem);
  background-color: rgb(49, 179, 199);
  position: absolute;
  bottom: 0;
  left: 250px;
}

.time-measure {
  width: 200%;
  height: 3rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}

.time-measure p {
  margin-right: 2.5%;
}

.channel-block {
  position: sticky;
  top: 0;
  left: 0;
  height: 3rem;
  width: 10rem;
  margin-right: 2rem;
  background-color: aliceblue;
}

.program-details-container {
  width: 50%;
  position: absolute;
  padding: 1rem;
  top: 25%;
  left: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  height: 20rem;
  background-color: white;
}
.program-details-image {
  height: 95%;
  max-width: 50%;
}
.program-details-text-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.program-details-desc {
  overflow-y: scroll;
  max-height: 7rem;
}
.more-details-button {
  width: fit-content;
  padding: 0.2rem 0.5rem;
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.adult-program-container {
  flex-direction: column;
  width: 20rem;
  height: 10rem;
  gap: 1rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-button {
  cursor: pointer;
}

.search-container {
  display: none;
  background-color: gray;
  width: 20rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
}

.search-programs-headline {
  margin: 1rem 2rem;
  color: white;
}

.search-programs-input {
  margin: 1rem 0 0 2rem;
  height: 1.25rem;
  width: 15rem;
}

.search-programs-result-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.search-result-card {
  position: relative;
  margin: 1rem 0;
}

.search-result-card:hover {
  opacity: 0.7;
}

.search-result-headline {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
}

.search-result-image {
  width: 100%;
  height: auto;
}
