* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1700px;
}
header {
  margin: 2rem 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headline-container,
.hamburger {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburger a {
  text-decoration: none;
  color: black;
}

.channels-container {
  width: 90%;
  margin: 4rem auto;
  overflow: scroll;
}

.channel-container {
  height: 5rem;
  width: 200%;
  display: flex;
  flex-direction: row;
}

.program-container {
  border: 0.5px solid gray;
}

.channels-container::-webkit-scrollbar {
  display: none;
}

.channel-image {
  min-width: 10rem;
  height: auto;
  margin-right: 2rem;
  position: sticky;
  top: 0;
  left: 0;
}

.program-start-time {
  color: gray;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.program-headline {
  margin-left: 0.5rem;
}
